<ion-header>
  <ion-toolbar>
    <ion-title  id="hola">
      Profila
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><div class="portada">
  <div class="card">
    <div class="header">
      <div class="avatar">
        <ion-icon class="refresh"name="refresh"></ion-icon>
        <img src="../../assets/icon/LogoGame.png" alt="">
      </div>
    </div>
  </div>
<br><br><br>
<br><br>
  <div class="user-meta ion-text-center">
    <h3 class="playername">Roger Federer</h3>
    <h5 class="country">Switzerland</h5>
    <h6 class="ranking">Current ranking:<ion-chip>
      <ion-label>2</ion-label>
      </ion-chip>
    </h6>
  </div>

  <br>

  <ion-button class="tamañob"size="large" (click)="onLogout()" expand="block">Logout</ion-button></div>
</ion-content>
