<ion-header>
  <ion-toolbar>
    <ion-title id="hola">
      <div>
        <p id="letra"> Profila</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="portada">
    <div class="card">
      <div class="header">
        <div class="avatar">

          <img src="../../assets/icon/LogoGame.png" alt="">
        </div>
      </div>
    </div>
    <br><br><br>
    <br><br>
    <div class="user-meta ion-text-center">
      <h3 class="playername">{{Izena}}</h3><ion-button (click)="update()" color="light"><ion-icon name="create"></ion-icon></ion-button>
      <h6 class="ranking">Current points:<ion-chip>
          <ion-label>{{puntuazioa}}</ion-label>
        </ion-chip>
      </h6>
    </div>

    <br>

    <ion-button class="tamañob" color="danger" size="large" (click)="onLogout()" expand="block">Logout</ion-button>
  </div>
</ion-content>