<ion-header>
  <ion-toolbar>
    <ion-title>
      Ranking Detail
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="card">
  <div class="header">
    <div class="avatar">

      <img src="../../assets/icon/LogoGame.png" alt="">
    </div>
  </div>
</div>
<ion-content>

  <ion-list class="ion-text-center">
    <ion-label>
      <h1 class="izena">{{rankingitem.Izena}}</h1>
    </ion-label><br />
    <ion-label>
      <h3>{{formatNumber(rankingitem.Puntuazioa)}}</h3>
    </ion-label><br />
    <!-- <ion-label>
      {{rankingitem.Puntuazioa}}
    </ion-label> -->
  </ion-list>

  <!-- <ion-button expand="full" (click)="saveAll()">Save</ion-button> -->
  <ion-fab color="medium" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="medium" routerLink="/tabs/ranking" routerDirection="forward">
      <ion-icon name="back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>