<ion-header>
  <ion-toolbar>
    <ion-title>
      Ranking Detail
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="card">
  <div class="header">
    <div class="avatar">

      <img src="../../assets/icon/LogoGame.png" alt="">
    </div>
  </div>
</div>
<ion-content>

  <ion-list>

    <ion-label class="klk">
      {{rankingitem.Id}}
    </ion-label><br />
    <ion-label>
      {{rankingitem.Izena}}
    </ion-label><br />
    <ion-label>
      {{rankingitem.Puntuazioa}}
    </ion-label>

  </ion-list>
  <!-- <ion-button expand="full" (click)="saveAll()">Save</ion-button> -->
  <ion-fab color="danger" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="/tabs/ranking" routerDirection="forward">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>