<ion-header>
  <ion-toolbar>
    <ion-title id="hola">
      <div>
        <p id="letra">5 Minutu!</p>
      </div>


    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="header-md">
  <div class="portada">
    
    <div class="punto">
      <img id="coraImg" class="top1" src="../../assets/icon/coratickr.png">
    </div>
<div class="centrar">
    <div class="ion-text-center">
      <a id="jokatuBtn" routerLink="/galdera"><img src="../../assets/icon/img12.png"></a><br>
      <span id="jugadoSpan"></span>
      <a [routerLink]="['/checkgalderak']"><img src="../../assets/icon/papel.png" ></a>

      
    </div></div>
  </div>
</ion-content>