<ion-header>
  <ion-toolbar>
    <ion-title id="hola">
      <div class="ion-text-center">
        <p id="letra">5 Minutu!</p>
      </div>


    </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content class="header-md">
  <div class="portada">
    <div class="borde">
   <div class="punto">
   
    </div>

    <div class="ion-text-center">
      <a id="jokatuBtn" routerLink="/galdera"><img src="../../assets/icon/img12.png"></a><br>
      <span id="jugadoSpan"></span>
      <a [routerLink]="['/checkgalderak']"><img class="top2" src="../../assets/icon/paper.png" ></a>

      
    </div></div>
  </div>
</ion-content>