<ion-header  id="topi">
  <ion-toolbar >
    <ion-title id="topi">  
      <div class="ion-text-center">
      <p>Taldea</p>
      </div>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let personas of misgrupos" class="taldea">
    <div [routerLink]="['/rankinga', personas.Id]">
      {{personas.izena}} <a>{{formatNumber(personas.puntuazioa)}}</a><br/>
    </div>
  </div>
  <ion-fab color="medium" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="medium" routerLink="/tabs/taldeak" routerDirection="forward">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="creategroup()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="deletegroup()" color="danger">
      <ion-icon name="remove"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
