<ion-header>
  <ion-toolbar>
    <ion-title>taldea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let personas of misgrupos" class="taldea">
    {{personas.izena}}<br/>
  </div>
  <ion-fab color="medium" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="medium" routerLink="/tabs/taldeak" routerDirection="forward">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button><ion-fab-button (click)="creategroup()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
