<ion-header id="top" >
  <ion-toolbar>   
    <ion-title id="top">
      <div>
    <p>taldeak</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>

    <div class="bloque">

      <div class="bloque2">
          
        <div *ngFor="let grupos of misgrupos" class="taldea">
          <div [routerLink]="['/taldea', grupos.izena]">
            Taldearen izena: {{grupos.izena}}<br/>
            Sortzailea: {{grupos.sortzailea}}
        </div>
        </div>
      </div>
    </div>
    <ion-fab color="medium" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="creategroup()" color="primary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
