<ion-header id="hola">
  <ion-toolbar>
    <ion-title id="hola">
      <div>
        <p id="letra">Ranking</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="portada">
  <ion-content>
    <ion-item class="miranking">
      <ion-label>
        <b id="posicion" class="posicion">{{miranking}}</b> 
        {{minombre}}<a class="right">{{formatNumber(mispuntos)}}</a></ion-label>
      </ion-item>
    <ion-list>
      <ion-item></ion-item>
      <ion-item-sliding *ngFor="let rankingitem of ranking;let i=index">
        <ion-item *ngIf="rankingitem.Puntuazioa" lines="inset" button [routerLink]="['/rankinga', rankingitem.id]">
          <img *ngIf="i+1 == 1" class="margenimg" src="../../assets/icon/1med.png">
          <img *ngIf="i+1 == 2" class="margenimg" src="../../assets/icon/2med.png">
          <img *ngIf="i+1 == 3" class="margenimg" src="../../assets/icon/3med.png">
          <img *ngIf="i != 0 && ranking[i].Puntuazioa == ranking[2].Puntuazioa" class="margenimg" src="../../assets/icon/3med.png">
          <ion-label>
            <b *ngIf="i+1 == 1" id="posicion" class="posicion">{{i+1}}</b>
            <b *ngIf="i != 0 && ranking[i].Puntuazioa == ranking[2].Puntuazioa" id="posicion" class="posicion">3</b>
            <b *ngIf="i != 0 && ranking[i].Puntuazioa != ranking[2].Puntuazioa" id="posicion" class="posicion">{{i+1}}</b> {{rankingitem.Izena}}<a class="right">{{formatNumber(rankingitem.Puntuazioa)}}</a>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
</div>