ul{
    list-style:none;
 
}
li{

    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: rgb(228, 228, 228);
    margin:7px;
    font-family: Comic sans MS;
    text-transform: uppercase;
    color:rgb(32, 129, 40);
}


  .portada{
  
  background-color: #fdfbfbe3;
  width: 95%;
  height: 100%;
  margin-left: 5%;
  }
  #hola{
    background-color: rgb(209, 209, 209);
    
    }
    
.right{
  float: right;
  margin-right: 2%;
}

.posicion{
  margin-right: 3%;
}
.margenimg{
  margin-left: -6%;
  position: fixed;
  width: 8%;
}