<ion-header id="hola">
  <ion-toolbar>
    <ion-title id="hola">
      <div>
        <p id="letra">Ranking</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="portada">
  <ion-content>
    <ion-list>
      <ion-item-sliding *ngFor="let rankingitem of ranking;let i=index">
        <ion-item *ngIf="rankingitem.Puntuazioa" lines="inset" button [routerLink]="['/rankinga', rankingitem.id]">
          <ion-label>
           <b [ngClass]='i+1 == 1 ? "primero" : i+1 == 2 ? "segundo" : i+1 == 3 ? "tercero":"cuarto"' id="posicion" class="posicion">{{i+1}}</b> {{rankingitem.Izena}}<a class="right">{{rankingitem.Puntuazioa}}</a>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
</div>