<ion-header>
  <ion-toolbar>
    <ion-title>add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Gadera --></ion-label><ion-input id="galdera" required type="text"></ion-input><br/>
  <ion-label>Erantzun zuzena --></ion-label><ion-input id="erantzunZ" required type="text"></ion-input><br/>
  <ion-label>Erantzun1 --></ion-label><ion-input id="erantzun1" required type="text"></ion-input><br/>
  <ion-label>Erantzun2 --></ion-label><ion-input id="erantzun2" required type="text"></ion-input>
  <ion-button expand="full" (click)="saveAll()">Save</ion-button> 
</ion-content>
