<ion-tabs>
  
    <ion-tab-bar *ngIf="login" id="tab" slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon name="home"></ion-icon>
        <ion-label>Hasi</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="ranking">
        <ion-icon name="trophy"></ion-icon>
        <ion-label>Ranking</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profila</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>