ion-button{
    margin-left: 10%;
    margin-top: 20px;
    margin-right: 10%; 
    width: 80%;
   
}
p{
    margin: auto;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    
}
#hola{
    background-color: #cac7c7;
  }