<ion-header>
  <ion-toolbar>
    <ion-title>galdera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding class="galderaSlide">
    <b>
      <p lines="inset" id="galderaP" button></p>
    </b>
    <ion-button lines="inset" id="option1btn" button (click)="clickAnswer()"></ion-button>
    <ion-button lines="inset" id="option2btn" button (click)="clickAnswer()"></ion-button>
    <ion-button lines="inset" id="option3btn" button (click)="clickAnswer()"></ion-button>

  </ion-item-sliding>

</ion-content>