ion-button{
    margin-left: 10%;
    margin-top: 20px;
    margin-right: 10%; 
    width: 80%;
    font-family: Segoe Print;
}
p{
    margin: auto;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    font-family: Segoe Print;
}
